.header {
  font-size: 35px;
  width: 100%;
  color: rgb(55, 113, 213);
  margin-bottom: 14px;
  text-align: center;
 }

 .scores {
  font-size: 30px;
  width: 100%;
  color: rgb(55, 113, 213);
  margin-bottom: 14px;
  text-align: center;
 }